<div id="<%= dom_id note %>">
  <p>
    <strong>Title:</strong>
    <%= note.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= note.author_id %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= note.genre_id %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= note.publisher_id %>
  </p>

  <p>
    <strong>Isbn:</strong>
    <%= note.isbn %>
  </p>

  <p>
    <strong>Publish year:</strong>
    <%= note.publish_year %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= note.price %>
  </p>

  <p>
    <strong>Stock quantity:</strong>
    <%= note.stock_quantity %>
  </p>

</div>
