<div id="<%= dom_id detail_order %>">
  <p>
    <strong>Order:</strong>
    <%= detail_order.order_id %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= detail_order.note_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= detail_order.quantity %>
  </p>

  <p>
    <strong>Total price:</strong>
    <%= detail_order.total_price %>
  </p>

  <p>
    <strong>Payment method:</strong>
    <%= detail_order.payment_method %>
  </p>

</div>
