<%= form_with(model: supplier_order) do |form| %>
<% if supplier_order.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(supplier_order.errors.count, "error") %> prohibited this supplier_order from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% supplier_order.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :supplier_id, class: label_class %>
          <%= form.select :supplier_id, options_from_collection_for_select( Supllier.all, 'id', 'name', selected = supplier_order.supplier_id), class: label_class %>
      </div>
  <div class="mb-6">
        <%= form.label :note_id, class: label_class %>
        <%= form.select :note_id, options_from_collection_for_select( Note.all, 'id', 'name', selected = supplier_order.note_id), class: label_class %>
      </div>
  <div class="mb-6">
        <%= form.label :quantity, class: label_class %>
          <%= form.number_field :quantity, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :cost, class: label_class %>
          <%= form.text_field :cost, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if supplier_order.persisted? %>
<%= link_to "Cancel", supplier_order, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", supplier_orders_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
