<div id="<%= dom_id supplier_order %>">
  <p>
    <strong>Supplier:</strong>
    <%= supplier_order.supplier_id %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= supplier_order.note_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= supplier_order.quantity %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= supplier_order.cost %>
  </p>

</div>
